<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-eqsection="X-UA-Compatible" content="IE=edge">
    <title>Rentas Ideas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <section>
        <select name="cars">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="fiat">Fiat</option>
            <option value="audi">Audi</option>
        </select>
    </section>
    <section>
        <h1>some text</h1>
    </section>
</body>
</html>